<header class="header">
  <nav class="nav">
    <div class="logo">
      <pre class="ascii-logo">
        ¡Bienvenido! ヾ(≧▽≦*)o
      </pre>
    </div>

    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >_home</a
        >
      </li>
      <li><a routerLink="/about" routerLinkActive="active">_about</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">_projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">_contact</a></li>
    </ul>
  </nav>
</header>
