<header class="header">
  <nav class="nav">
    <div class="logo">
      <pre class="ascii-logo terminal-text">
        $ ¡Bienvenido!
        <span class="ip-display" [ngClass]="{'loading': loading}">
        [user&#64;{{ loading ? 'locating...' : userIp }}~] 
        </span>
        ヾ(≧▽≦*)o
      </pre>
    </div>

    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">_home</a>
      </li>
      <li><a routerLink="/about" routerLinkActive="active">_about</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">_projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">_contact</a></li>
      <li><a routerLink="/music" routerLinkActive="active">_music</a></li>
    </ul>
  </nav>
</header>