<section class="home">
    <!-- <canvas class="matrix-background"></canvas> -->
    <div class="terminal-container">
        <div class="terminal-header">
            <div class="terminal-buttons">
                <span></span><span></span><span></span>
            </div>
            <div class="terminal-title">~/cristian-jara-portfolio</div>
        </div>

        <div class="terminal-body terminal-text">
            <div class="intro-text">
                <div class="ascii-art" #asciiArt></div>
                <div class="typing-text">
                    <span class="prompt ">$</span>
                    <span class="command" #typedText></span>
                    <span class="cursor">█</span>
                </div>

                <div class="role-list " >
                    <div class="role-item">Analista Programador Computacional</div>
                    <div class="role-item">Ingeniero en Informática</div>
                    <div class="role-item">Desarrollador de Software Full-Stack</div>
                    <div class="role-item">Especializado en Gestión de Proyectos Informáticos</div>
                    <div class="role-item">Newbie en Ciberseguridad</div>
                </div>
            </div>

            <!-- <div class="scroll-indicator">
                <span>scroll_down</span>
                <i class="fas fa-chevron-down"></i>
            </div> -->
        </div>
    </div>
</section>