<footer class="footer">
    <div class="footer-content">
        <div class="terminal-line">
            <span class="prompt">$ </span>
            <span class="command">echo "© 2024 Cristian Jara | Ingeniero Informático"</span>
            <span class="cursor"></span>
        </div>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/cristian-jara-carter/" target="_blank" class="social-link">
                <i class="fab fa-linkedin">
                    <img src="assets/images/linkedin.svg" alt="GitHub" class="svg-icon">
                </i>
            </a>
            <a href="https://github.com/crjaracarter" target="_blank" class="social-link">
                <i class="fab fa-github">
                    <img src="assets/images/github.svg" alt="GitHub" class="svg-icon">
                </i>
            </a>
        </div>
        <!-- <div class="personal-selection">
            <div class="music-container">
                <h3 class="music-title"><span class="prompt">$</span> play_music.sh // Recomiendo escuchar ;)</h3>
                <div class="player-wrapper">
                    <iframe 
                        title="Media player"
                        src="https://embed.music.apple.com/cl/album/crimewave/1132754123?i=1132754189&amp;itscg=30200&amp;itsct=music_box_player&amp;ls=1&amp;app=music&amp;mttnsubad=1132754189&amp;theme=dark"
                        id="embedPlayer"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                        allow="autoplay *; encrypted-media *; clipboard-write">
                    </iframe>
                </div>
            </div>
        </div> -->
    </div>
</footer>