.footer {
  background-color: var(--color-background-alt);
  border-top: 2px solid var(--color-accent);
  padding: 1.5rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1.5rem;

  .social-link {
    color: var(--color-text);
    font-size: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-accent);
      transform: translateY(-3px);
    }
  }
  .social-link .svg-icon {
    width: 24px;
    height: 24px;
  }
}

.terminal-line {
  font-family: "IBM Plex Mono", monospace;
  color: var(--color-text);

  .prompt {
    color: var(--color-accent);
  }

  .command {
    margin-left: 0.5rem;
  }

  .cursor {
    display: inline-block;
    width: 8px;
    height: 1rem;
    background-color: var(--color-accent);
    margin-left: 0.5rem;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .footer-content {
    text-align: center;
  }
}

.personal-selection {
  width: 100%;
  padding: 1rem;
  margin-top: 0rem;

  .music-container {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }

  .music-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    
    .prompt {
      color: var(--color-accent);
      margin-right: 0.5rem;
    }
  }

  .player-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 30%; // Aspecto ratio para el reproductor
    min-height: 175px;
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 15px rgba(0, 255, 0, 0.3);
      }
    }
  }
}

@media (max-width: 768px) {
  .personal-selection {
    padding: 0.5rem;
    
    .music-title {
      font-size: 1rem;
      text-align: center;
    }

    .player-wrapper {
      padding-bottom: 40%; // Ajuste para móviles
    }
  }
}

@media (max-width: 480px) {
  .personal-selection {
    .player-wrapper {
      padding-bottom: 50%; // Ajuste para pantallas muy pequeñas
      min-height: 150px;
    }
  }
}
